spring:
  datasource:
    url: jdbc:mysql://localhost:3306/storage_buddy?useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true
    username: buddy_user
    password: buddy_password
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
        format_sql: true
server:
  port: 8080